.activity-card{
    height: 340px;
    background-color:rgb(203, 195, 227);
    padding: 10px;
    border-radius: 20px;
}
.activity{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.activity img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.activity h3,p{
    margin: 0;
}
button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}
button:hover{
    background-color:rgb(121, 56, 146);
    color: white;
}