.details{
    border: 1px solid rgba(218, 213, 213, 0.466);
    display: flex;
    justify-content: space-around;
}
.first{
    display: flex;
    align-items:baseline;
}
.details h3{
    margin: 0;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}