.activities{
    background: rgb(231, 160, 160);
    border: 1px solid green;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media only screen and (max-width : 768px) {
    .activities{
        grid-template-columns : 1fr;
    } 
}
@media only screen and (min-width : 769px) and (max-width : 900px) {
    .activities{
        grid-template-columns : 1fr 1fr;
    } 
}
