.sidebar{
    background-color:rgba(112, 128, 144, 0.089);
    padding: 5px;
    margin-top: 80px;
    height: 570px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
hr{
    margin: 0;
    width: 100%;
    border: 1px solid rgba(153, 190, 224, 0.432);
}